* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 16px;
  margin: 5px;
}
#rgb-container, #hsv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
input[type="number"] {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: white;
}
#color-display {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-left: 20px;
  border: 1px solid #000;
  text-decoration: bold;
}
input[type="range"] {
  width: 200px;
  height: 30px;
}
#r-input, #r-range{
  background-color: red;
  accent-color: red;
}
#g-input, #g-range{
  background-color: green;
  accent-color: green;
}
#b-input, #b-range{
  background-color: blue;
  accent-color: blue;
}
#h-input{
  background-color: orange;
  mix-blend-mode: difference;
}
#s-input{
  background-color: yellow;
  mix-blend-mode: difference;
}
#v-input{
  background-color: white;
  mix-blend-mode: difference;
}